<form>
  <mat-form-field appearance="standard">
    <mat-label>Search for a movie</mat-label>
    <input
      matInput
      type="text"
      name="search"
      required
      inputStrength
      ngModel
      #search="ngModel"
      placeholder="Ex. Deadpool 2"
      (keyup.enter)="!search.errors ? searchQuery(search.value) : null"
    />
    <mat-error *ngIf="search.errors?.['inputStrength']">
      - Minimum three (3) characters<br />
      - Only alphanumerics
    </mat-error>
  </mat-form-field>
</form>
