<div *ngIf="movies">
    <li 
        *ngFor="let movie of movies"
        class="list-group-item">
            {{ MDB_IMG_BASE_URL + (movie.poster_path==null?'':movie.poster_path) }}
            {{ movie.title }}
            {{ movie.vote_average }}
            {{ movie.vote_count }}
            movie_id: {{movie.id}}
            
            <button mat-raised-button [routerLink]="['movie', movie.id]">Open Movie</button>

            <button mat-raised-button (click)="openCollectionsDialog(movie)">Add to Collection</button>
    </li>
</div>

<div *ngIf="pagination">
    total_pages: {{pagination.total_pages}}
    total_results: {{pagination.total_results}}
</div>
